<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset="utf-8"/>
	<title> RangirajME </title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	
	
	
	<style>
	
.txtstyle	
				{
			
					font-size:20px;
					
				}
				
.jumbotron
				{
						background-color:#2D3E52;
						color:White;
				}
	.paragrafTxT	
		{
			font-size:15px;
			color:black;
			text-align:center;
			font-weight:bold;
		}
	</style>

	
	</head>




<body>

<div class="jumbotron">
	<div class ="row">
		<div class="col-md-12"> 
			<div class ="container">
					
						<h1 align="center"> Регистрирај се </h1>
						<p align="center"> Во полињата подолу потребно е да ги внесете следните податоци: </p>	
					
				<div class="txtstyle">	
					<div class ="row">
							<div class="col-md-4"> </div>  
					<div class="col-md-4">
							<ul>
								<li>Студентскиот мејл</li>
								<li>Пасворд по ваш избор</li>
								<li>Универзитетот на кој  студирате</li>
								<li>Факултетот на кој што студирате</li>
							</ul>
					</div>
							<div class="col-md-4"> </div>  
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		
<div class ="row">
							<div class="col-md-4"></div>
							
							
							
							
							
	<div class="col-md-4">
	
		<form role="form">
		<div class="form-group">
		<br>
		<label class="input-md" for="email">Email:</label>
		<input type="email" class="form-control input-sm" id="email" placeholder="Внесете го студентскиот мејл">
		</div>
		
		<label class="input-md" for="pwd">Password:</label>
		<input type="password" class="form-control input-sm" id="pwd" placeholder="Внесете пасворд по ваш избор">
		<br>
		<label class="input-md" for="cfpwd">Confirm password:</label>
		<input type="password" class="form-control input-sm" id="cfpwd" placeholder="Потврдете го пасвордот">
	
		
		<br>
		<div class="dropdown  ">
				<button class="btn btn-default dropdown-toggle btn-block" type="button" id="menu1" data-toggle="dropdown"> <div class="paragrafTxT">Одберете го универзитетот на кој што студирате</div>
				<span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">  <img src="ugd.png" hspace="10">   		Универзитет "Гоце Делчев" -Штип					</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">  <img src="ukim.png"hspace="10">   		Универзитет "Св. Кирил и Методиј" - Скопје		</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">  <img src="fon.png" hspace="10">   		Универзитет "ФОН -Скопје" 						</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">  <img src="uist.png" hspace="10">  		Универзитет "Св. Апостол Павле" -Охрид			</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">  <img src="klime.png" hspace="15"> 		Универзитет "Св Климент Охридски" -Битола		</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">  <img src="evrobalkan.png" hspace="10">  Универзитет "Евробалкан" -Скопје				</a></li>
						
				</ul>				
			</div>
			<br>
			<div class="dropdown  ">
				<button class="btn btn-default dropdown-toggle btn-block" type="button" id="menu1" data-toggle="dropdown"> <div class="paragrafTxT">Одберете го факултетот на кој што студирате</div>
				<span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
						<li role="presentation"><class="dropdown-header"> Кампус 2 </li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Факултет за Природни и технички науки      </a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Факултет за Информатика                    </a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Земјоделски факултет              			</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Машински факултет               			</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Електротехнички факултет       			</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Технолошко-технички факултет   			</a></li>
          <li role="presentation" class="divider"></li>
		  
	<li role="presentation"><class="dropdown-header"> Кампус 3 </li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">  Факултет за Медицински науки			     </a></li>
		  
		  <li role="presentation" class="divider"></li>
	
	<li role="presentation"><class="dropdown-header"> Кампус 4         </li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">  Економски факултет         				</a></li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">  Правен факултет            				</a></li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">  Факултет за Туризам и бизнис логистика 	</a></li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">  Ликовна Академија          				</a></li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">  Филолошки факултет        				</a></li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">  Факултет за Образовни науки            	</a></li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">  Музичка Академија       		     		</a></li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">  Филмска Академија          				</a></li>  
						
				</ul>				
			</div>
			</form>
		</div>
	
	
	
							<div class="col-md-4">
							<br><br>
							<form role="form">
							<button type="submit" class="btn btn-default btn-lg">Потврди</button>
							</form>
							</div>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
				<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</div>




</body>





</html>